# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\开发前后端\JavaDS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
